@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  margin:0;
  padding:0;
  box-sizing: border-box;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.review-container{
    display:flex; 
    flex-direction:column;
    width: 100%;
    height: 100%;
    position: relative;
}
.review-description{
    margin-bottom: 5%;
    text-align: center;
    color: #A8A6B1;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.review-title{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-weight: 400;
    font-size: 2.75rem;
    text-align: center;
    color: #000000;  
    line-height: 2.75rem; 
    margin-bottom: 2%;
}
.review-title_colored{
    color: #ED1D25;
}